<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510547925560-1f61tarhr85r3v0mu56umiflc6fr11pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510547925560-1f61tarhr85r3v0mu56umiflc6fr11pe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510547925560-6ngk69nra1ohhol58hc2f5pip04vpig6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAODS0ymtrqMaAd8Y6tbvqrXidQj793gG4</string>
	<key>GCM_SENDER_ID</key>
	<string>510547925560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unfu.gradebook</string>
	<key>PROJECT_ID</key>
	<string>unfu-gradebook</string>
	<key>STORAGE_BUCKET</key>
	<string>unfu-gradebook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510547925560:ios:bc25a4666c61b8f99da4cd</string>
	<key>DATABASE_URL</key>
	<string>https://unfu-gradebook.firebaseio.com</string>
</dict>
</plist>