<app-page-header [pageTitle]="'Journal ' + (journalPath.institute ? ': ' + journalPath.institute : '').toUpperCase()">
</app-page-header>

<ion-content>

  <ion-card class="card-md-size">
    <ion-card-header>
      <ion-chip (click)="changeInstitute($event, 'all')">
        <ion-label>All</ion-label>
      </ion-chip>
      <ion-chip *ngFor="let institute of ((institutes$  | async)?.institutes)"
        (click)="changeInstitute($event, institute)">
        <ion-label>{{institute | uppercase}}</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf='(journals$ | async)?.length > 0 ; else noJournals'>
        <ion-item *ngFor="let journal of journals$  | async ; trackBy: trackById;">
          <ion-title>{{journal.institute | uppercase}}: {{journal.group}}-{{journal.groupYear}}</ion-title>

          <ion-button [routerLink]="journal.id">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>

        </ion-item>
      </ion-list>

      <ng-template #noJournals>
        <ion-card-content>
          <ion-text>No journals</ion-text>
        </ion-card-content>
      </ng-template>

      <ion-button (click)="showModal()">
        <ion-icon name="create"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>



  <!-- <ion-tabs>
    <ion-tab-bar (ionChange)="changeInstitute($event)" slot="bottom">
      <ion-tab-button *ngFor="let institute of ((institutes$  | async)?.institutes)" tab="schedule">
        <ion-label>{{institute}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->


</ion-content>