.introduction-box {
    width: 80%;
    min-width: 500px;

    margin: auto;
    display: flex;

    flex-direction: column;
    text-align: justify;
    justify-items: center;
    justify-content: center;

    height: 100vh;

    ion-text {
        h1 {
            padding: 3%;
            line-height: 150%;
        }

    }
}