<ion-content>
  <div class="introduction-box">
    <ion-card>
      <ion-card-content>
        <ion-card-header>
          <h1><b>Privacy and Personal Data Protection Disclaimer</b></h1>
        </ion-card-header>
        <ion-text>
          <h1> All information contained on the <b>'UNFU Gradebook'</b> is for informational and educational purposes
            only.
            This website may collect data about you, use cookies, embed additional third-party tracking,
            and monitor your interaction with that embedded content if you have an account and are logged
            in to that website.</h1>
        </ion-text>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="finish()">I agree</ion-button>
  </div>
</ion-content>