.introduction-box {
    width: 80%;
    min-width: 350px;

    margin: auto;
    display: flex;

    flex-direction: column;
    text-align: justify;
    justify-items: center;
    justify-content: center;

    height: 100vh;

    H1 {
        font-size: clamp(16px, 2vw, 45px);
    }

    ion-text {
        h1 {
            padding: 3%;
            line-height: 150%;
        }

    }
}