<ion-app>

  <ion-menu side="start" type="push" contentId="main-content">

    <ion-header>
      <ion-toolbar>
        <div style="padding: 10px;">
          <app-logo [type]="'rec'" slot="start"></app-logo>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/">
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/journal">
          <ion-label>Journal</ion-label>
        </ion-item>
        <ion-item routerLink="/introduction">
          <ion-label>Introduction</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <app-login></app-login>
        <ion-text>Made by <a>Myroslav Helesh</a></ion-text>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>