<ion-app>
  <ion-menu side="start" type="push" #mainmanu>

    <ion-header>
      <ion-toolbar>

      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/">
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/journal">
          <ion-label>Journal</ion-label>
        </ion-item>
        <ion-item routerLink="/">
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet></ion-router-outlet>
</ion-app>