ion-col {
    padding: 0;
}

.prof {
    &-img {
        width: 95px;
        height: 95px;
    }

    &-inf {
        padding: 5px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}