<ion-row>
  <ion-col col-6 text-center>
    <ion-button ion-button icon-start (click)="captureAndUpload('CAMERA')">
      <ion-icon name="camera"></ion-icon>
      Get from camera
    </ion-button>
  </ion-col>
  <ion-col col-6 text-center>
    <ion-button ion-button icon-start (click)="captureAndUpload('PHOTOLIBRARY')">
      <ion-icon name="folder"></ion-icon>
      Get from gallery
    </ion-button>
  </ion-col>
</ion-row>

<ion-card>
  <ion-card-header>
    <img [src]="image" />
  </ion-card-header>

  <ion-card-content *ngIf="result$ | async as result">
    <ion-col>
      <ion-chip color="secondary" *ngFor="let label of result.labels">
        <ion-label>{{ label }}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="(result$ | async)?.text">
  <ion-card-content>
    <ion-text>{{ (result$ | async)?.text }}</ion-text>
  </ion-card-content>
</ion-card>