<app-page-header
  [pageTitle]="'Journal: ' + ((journal$ | async)?.group + '-' + (journal$ | async)?.groupYear) | uppercase ">
</app-page-header>

<ion-content>
  <pre>{{ journal$ | async }}</pre>

  <ion-card>
    <ion-card-header>

      <ion-card-title>
        {{((journal$ | async)?.group + '-' + (journal$ | async)?.groupYear) | uppercase}}
      </ion-card-title>

      <ion-card-subtitle>
        {{ (journal$ | async)?.id }}
      </ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>

      <table>

        <head>
          <tr>
            <th>
              Students
            </th>
          </tr>
        </head>

        <tbody>
          <tr *ngFor="let student of studentList ">
            <th>Id</th>
            <td>{{student.key}}</td>

            <th></th>
            <td>{{student.key}}</td>
          </tr>
        </tbody>

      </table>

    </ion-card-content>
  </ion-card>
</ion-content>