<app-page-header
  [pageTitle]="'Journal: ' + ((journal$ | async)?.group + '-' + (journal$ | async)?.groupYear) | uppercase ">
</app-page-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{((journal$ | async)?.group + '-' + (journal$ | async)?.groupYear) | uppercase}}
      </ion-card-title>

      <ion-card-subtitle>
        {{ (journal$ | async)?.id }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ngx-datatable class="material fullscreen" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="0"
        [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="gradeTable$ | async">
        <ngx-datatable-column name="fullName" [width]="150">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true"
              *ngIf="!editing[rowIndex + '-name']">
              <b>{{ value }}</b>
            </span>
            <input autofocus (blur)="updateValue($event, 'name', rowIndex, 'string')"
              *ngIf="editing[rowIndex + '-name']" type="text" [value]="value" />
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column *ngFor="let item of [ 1,2,3,4 , 'mod1', 5,6,7,8, 'mod2']" name="{{item}}/{{8}}"
          prop="{{item}}" [width]="80">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-' + item] = true"
              *ngIf="!editing[rowIndex + '-' + item]">
              {{ value || 0 }}
            </span>
            <input autofocus (blur)="updateValue($event, item, rowIndex, 'number')"
              *ngIf="editing[rowIndex + '-' + item]" type="text" [value]="value" />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="sum" [width]="80">
        </ngx-datatable-column>
      </ngx-datatable>


      <!-- ----------------------------------------------{{gradeTable$ | async | json}} -->

    </ion-card-content>

    <ion-footer>
      <ion-button (click)="presentPVModal()">Add new document</ion-button>
    </ion-footer>
  </ion-card>

  <ion-row>
    <ion-col size="12" size-sm size-md="4" *ngFor="let doc of linkedDocs$ | async">
      <ion-card class="doc-card">
        <!-- <ion-img [src]="doc.fileSelfLink"></ion-img> -->
        <ion-card-header>
          <ion-card-title>
            {{doc.documentName}}
          </ion-card-title>

          <ion-chip style="padding: 2px 5px; font-size: 0.8rem; height: 23px;"
            [color]="(label === 'Document') || (label ==='Paper') ? 'primary' : 'light'"
            *ngFor="let label of doc?.labels">
            {{label}}
          </ion-chip>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            {{doc.text | slice: 0 : 300 }}{{doc.text.length > 300 ? '...' : ''}}
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>