<app-page-header [pageTitle]="'Home'"></app-page-header>

<ion-content>
  <ion-card class="card-md-size">
    <ion-img [src]="'assets/home/Botanichnyj-sad-LNU.jpg'"></ion-img>
    <ion-card-header>
      <ion-card-title>
        <h3>About project</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-text>
        All information contained on the <b>'UNFU Gradebook'</b> is for informational and educational purposes
        only.
        This website may collect data about you, use cookies, embed additional third-party tracking,
        and monitor your interaction with that embedded content if you have an account and are logged
        in to that website.
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card color="light" class="card-md-size">
    <ion-img [src]="'assets/home/Computer_Vision.png'"></ion-img>
    <ion-card-header>
      <ion-card-title>
        <h3>You can try our <b>Cloud Vision Module</b></h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        The Cloud Vision component is a component with basic controllers for uploading photos
        to the server and retrieving the extracted information. after receiving the processed result,
        this document can be added to the list of documents in the relevant journal.
        You can try to upload your own photo and get its text content. Warning!
        All data will be stored in the database, but cannot be deleted manually.
      </ion-text> <br>
      <ion-button (click)="presentPVModal()"> Try it </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>